.ballCont {
  width: 550px;
  height: 550px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
 
}

#ball {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: orange;
}

.ballCont div{
  height: 49px;
  width: 49px;
 
  
  
}

.wall{
  background-color: grey;
}

.path{
  background-color: white;
}